<div class="container bg-dark p-2 text-white">
  <h1 class="display-3 text-success">GoldenPark</h1>
  <hr>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a
        class="navbar-brand"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >Menú</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Imágenes, vídeos, links
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" (click)="abrir('imagenes')"
                  >Imágenes</a
                >
              </li>
              <li>
                <a class="dropdown-item" (click)="abrir('video')">Vídeos</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="abrir('links')">Links</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" (click)="abrir('popup')"
              >Popup</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              (click)="abrir('formularios')"
              >Formulario</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" (click)="abrir('api')"
              >Api</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div
    class="row rounded border border-4 mt-2 p-1"
    id="imagenes"
    *ngIf="imagenes"
  >
    <div class="row mx-auto my-2">
      <div class="col-6 text-center p-2 border border-success border-3">
        <img
        src="../../../assets/images/img1.jpg"
        class="img-fluid float-start"
        alt="..."
      />
      </div>
      <div class="col-6 text-center p-2 border border-success border-3">
        <img
        src="../../../assets/images/img2.jpg"
        class="img-fluid float-end"
        alt="..."
      />
      </div>
    </div>
    <div class="row mx-auto my-2">
      <div class="col-6 text-center p-2 border border-success border-3">
        <img
        src="../../../assets/images/img3.jpg"
        class="img-fluid float-start"
        alt="..."
      />
      </div>
      <div class="col-6 text-center p-2 border border-success border-3">
        <img
        src="../../../assets/images/img4.jpg"
        class="img-fluid float-end"
        alt="..."
      />
      </div>
    </div>
    <div class="row mx-auto my-2">
      <div class="col-6 text-center p-2 border border-success border-3">
        <img
        src="../../../assets/images/img5.jpg"
        class="img-fluid float-start"
        alt="..."
      />
      </div>
      <div class="col-6 text-center p-2 border border-success border-3">
        <img
        src="../../../assets/images/img6.jpg"
        class="img-fluid float-end"
        alt="..."
      />
      </div>
    </div>
  </div>

  <div
    class="row align-items-center rounded border border-4 mt-2 wd-75"
    id="video"
    *ngIf="video"
  >
    <div class="embed-responsive embed-responsive-16by9 p-2 text-center">
      <iframe
        class="embed-responsive-item"
        width="vw-100"
        height="vh-100"
        src="https://www.youtube.com/embed/rlELQfKvOwo"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <div
    class="row align-items-center rounded border border-4 mt-2 wd-75"
    id="links"
    *ngIf="links"
  >
    <div class="list-group p-2">
      <a
        href="https://www.mga.es"
        class="list-group-item list-group-item-action"
        aria-current="true"
      >
        MGA
      </a>
      <a
        href="https://github.com/grinmor2018"
        class="list-group-item list-group-item-action"
        >Github</a
      >
      <a
        href="https://stackoverflow.com/"
        class="list-group-item list-group-item-action"
        >Stackoverflow</a
      >
    </div>
  </div>

  <div
    class="row align-items-center rounded border border-4 mt-2 wd-75"
    id="popup"
    *ngIf="popup"
  >
    <div class="col-4"></div>
    <div class="col-4 text-center p-2">
      <button class="btn btn-outline-success" (click)="openModal(contingut)">
        ¡¡Púlsame!!
      </button>
    </div>
    <div class="col-4"></div>
  </div>

  <div
    class="row rounded border border-4 mt-2 p-1"
    id="popup"
    *ngIf="formularios"
  >
    <div class="">
      <h6>Lista de personas</h6>
      <hr>
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Edad</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaPersonas">
            <td>{{item.nombre}}</td>
            <td>{{item.apellidos}}</td>
            <td>{{item.edad}}</td>
            <td>
              <i
                class="fas fa-edit m-1 text-info"
                data-toggle="tooltip"
                data-placement="top"
                title="Editar personas"
                (click)="editar(item)"
              ></i>
              <i
                class="fas fa-trash-alt text-danger m-1"
                data-toggle="tooltip"
                data-placement="top"
                title="Borrar personas"
                (click)="borrar(item)"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr>
    <form [formGroup]="form" class="p-2" (submit)="guardar()">
      <div class="col-12 mt-2">
        <input
        class="form-control me-2"
        type="text"
        placeholder="Nombre"
        aria-label="Añade"
        formControlName="nombre"
        name="nombre"
        [(ngModel)]="nombre"
        required
      />
      </div>

      <div class="col-12 mt-2">
        <input
          class="form-control me-2"
          type="text"
          placeholder="Apellidos"
          aria-label="Añade"
          formControlName="apellidos"
          name="apellidos"
          [(ngModel)]="apellidos"
          required
          />
      </div>

      <div class="col-12 mt-2">
        <input
          class="form-control me-2"
          type="number"
          placeholder="Edad"
          aria-label="Añade"
          formControlName="edad"
          name="edad"
          [(ngModel)]="edad"
          required
          />
      </div>
      <div class="col-12 mt-2">
        <button class="btn btn-outline-success" *ngIf="!edit"(keyup.enter)="guardar()" type="submit">Guardar</button>
        <button class="btn btn-outline-success" *ngIf="edit"(keyup.enter)="actualizar()" type="submit">Editar</button>
        <button class="btn btn-outline-warning" (click)="resetLista()" type="button">Reset</button>
      </div>
      </form>
  </div>

  <div
    class="row align-items-center rounded border border-4 mt-2 wd-75"
    id="api"
    *ngIf="api"
  >
    <div class="embed-responsive embed-responsive p-2 text-center">
      <iframe class="responsive-iframe" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=es&amp;q=MGA%20Carrer%20Fargaires,%201-3%2008290%20Cerdanyola%20del%20Vall%C3%A8s%20Barcelona-Spain+(MGA)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" width="100%" height="400" frameborder="0"><a href="https://www.mga.es/">MGA</a></iframe>
    </div>
  </div>
</div>

<!-- MODAL -->
<ng-template #contingut let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Popup</h4>
  </div>
  <div class="modal-body">
    <p>Prueba de popup!!</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-success"
      (click)="modal.close('Close click')"
    >
      Cerrar
    </button>
  </div>
</ng-template>
